<section class="course d-sm-flex justify-content-evenly align-items-center py-2">
    <div class="content d-sm-flex">
        <div class="text align-self-end px-3">
            <p class="text-secondary">yomnaApp</p>
        </div>
        <div class="title">
            <h2>Course Name</h2>
        </div>
    </div>
    <div class="rate">
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star"></i>
        <i class="bi bi-star"></i>
    </div>
</section>
