<section class="py-5">
    <div class="container">
        <h1 class="my-3">{{title}}</h1>

        <button type="button" class="btn btn-warning" (click)="changeColor()">Change style</button>
        <p [style.color]="red">this is a paragraph</p>
        
        <input [(ngModel)]="name" class="form-control shadow-none border-warning w-25 my-3" placeholder="type here!">        
        <p>My name is: {{name}}</p>
        <button type="button" class="btn btn-warning" (click)="setName()">Delete</button>
    </div>
</section>